<!DOCTYPE html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="./assets/img/favicon.ico">
  <script src="/dist/launcher.js"></script>
</head>
<html>

<body>
  <script>
    async function init() {
      let module = await application.newModule('./main/index.js', {{scconfig}})
      document.body.append(module)
    };
    init();
  </script>
</body>

</html>